h1{
    color: blue;
    background-color: bisque;
}

p{
    color: rgb(89, 217, 50);
    background-color: rgb(17, 17, 16);
}

button{
    color: rgb(227, 57, 111);
    background-color: rgb(12, 12, 11);
}