/*commen setting for all div*/

section{
    margin-top: 400px;
}

div{
    height: 90px;
    width:  90px;
    border: 3px solid black;
    background-color: rgb(228, 208, 28);
    text-align: center;
    margin: 10px;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
    
}

div:nth-of-type(2n) {
    background-color: rgb(71, 209, 209);
}

div:nth-of-type(3n) {
    background-color: rgb(70, 68, 165);
}
/*______________________________________________________________________*/
/*______________________________________________________________________*/

/*transform and translate*/

#one:hover{
    transform: rotate(45deg);
}
/*______________________________________________________________________*/

#two:hover{
    transform: scale(0.70);
}
/*______________________________________________________________________*/

#three{
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}

#three:hover{
    translate: 50px 50px 50px ;
}
/*______________________________________________________________________*/

#four:hover{
    transform: skew(30deg);
}
/*______________________________________________________________________*/

#five{
    transition-delay: 0.2s;
}

#five:hover{
    transform: skew(30deg);
    translate: 50px 50px 50px;
    transform: rotate(45deg);  
}
/*______________________________________________________________________*/
#six{
    transition: margin-top-left 40px;
    transition-delay: 0.2s;
}

#six:hover{
    transform: skew(30deg);
    translate: 50px 50px 50px;
    transition-duration: 1s;
    transform: rotate(180deg);

}
/*______________________________________________________________________*/
